<div style="background-color:orange;">
  <h2>Products</h2>

  <table border="3px" style="width:100%">
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Product Price</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let product of products">
      <td style="text-align:center;">{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td style="text-align:center;">{{ product.price }}</td>
      <td style="text-align:center;">{{ product.quantity }}</td>
    </tr>
  </table>
</div>
