<div style="background-color:beige;">
  <h2>Products</h2>
<style>
  td{
    text-align:center;
  }
  product{
    color:white;
  }
</style>
  <table border="3px" style="width:100%">
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Product Price</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let product of products">
      <td >{{ product.productId }}</td>
      <td>{{ product.productName }}</td>
      <td >{{ product.price }}</td>
      <td >{{ product.quantity }}</td>
    </tr>
  </table>
</div>
